h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  color: #48D1CC;
  font-size: 40px;
  margin: 0 auto;
}
h2 {
  font-family: 'Rubik', sans-serif;
  color: black;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
}
h3 {
  font-family: 'Bungee', cursive;
  text-align: justify;
  color: black;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: none;
}
h4 {
  font-family: 'Rubik', sans-serif;
  color: black;
  text-align: justify;
  font-size: 15px;
}
h5 {
  background: tomato;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 300;
  color: white;
  font-family: 'Rubik', sans-serif;
}
h6 {
  background: rgba(0,0,0,0.9);
  padding: 12px 24px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.centerbee {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 100px;
    height: auto;
    size: 50%
    padding-bottom: none;
    padding-top: none;
}
.nav-links {
  text-align: center;
}
/* navbar */
* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  margin: 0 auto;
  width: 600px;
  background-color: white;
  position: center;
  padding-top: none;
  padding-bottom: none;
  color: black;
}

.nav > .nav-btn {
  display: none;
  text-decoration: none;
  text-align: center;
}

.nav > .nav-links {
  display: inline;
  float: center;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: black;
  text-decoration: none;
}

.nav > .nav-links > a {
  display: inline-block;
  float: center;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: gray;
}

.nav > .nav-links > a:hover {
  background-color: rgb(255, 21, 0, 0.8);
  color: white;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  h1 {
    font-size: 30px;
  }
  .toprow {
    max-width: 500px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.contain_text {
  padding-left: 200px;
  padding-right: 200px;
}
/* slide show */
.carousel{
	margin: 0 auto;
  background: white;
  position: relative;
}
.carousel:after {
	  content: "";
    position: absolute;
    z-index: -1;
    height: 60px;
    bottom: 0px;
    left: 10px;
    right: 10px;
    border-radius: 100px / 20px;
}
.carousel .item {
    margin: auto;
	  overflow: hidden;
    height: 400px;
}
.carousel .item img {
    width: auto;
    margin: 0 auto;
    height: auto;
    max-height: 425px;
    max-width: 100%;
    position:fixed;
}
.carousel .carousel-control {
	  width: 50px;
    height: 50px;
    background: black;
    color: white;
    margin: auto 0;
}
.carousel .carousel-control:hover {
	opacity: 0.9;
}
.carousel .carousel-control i {
    font-size: 41px;
}
.carousel-caption h3, .carousel-caption p {
	color: #fff;
	display: inline-block;
	font-family: 'Rubik', sans-serif;
	text-shadow: none;
	margin-bottom: 20px;
}
.carousel-caption h3 {
	background: rgba(0,0,0,0.9);
	padding: 12px 24px;
	font-size: 20px;
	text-transform: uppercase;
  color: white;
  font-family: 'Rubik', sans-serif;
}
.carousel-caption p {
	background: tomato;
	padding: 10px 20px;
	font-size: 15px;
	font-weight: 300;
  color: white;
  font-family: 'Rubik', sans-serif;
}
.carousel-action {
	padding: 0px;
  position: relative;
  float: center;
  margin: 0 auto;
}
.carousel-action .btn {
  padding-top: 0px;
	min-height: 14px;
  border-style: none;
	min-width: 50px;
  font-style: italic;
	font-family: 'Rubik', sans-serif;
}
.carousel-action .btn-primary {
	color: white;
  margin: 0;
  float: center;
  background: none;
}
.carousel-action .btn-primary:hover {
	background: none;
  font-weight: bold;
  color: tomato;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	border-radius: 50%;
	margin: 1px 1px;
}
.carousel-indicators li {
	background: tomato;
	border: tomato;
}
.carousel-indicators li.active {
	background: black;
	border-color: black;
}
#recordstore {
  text-decoration: none;
}
