<!doctype html>

<html
  lang="en"
  ng-app="app"
  ng-controller="AppController as app" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>THIRSTY BEE</title>

  <!-- Load Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==" crossorigin="anonymous">
  <!-- Load custom styles -->
  <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Rubik|Work+Sans" rel="stylesheet">
  <link rel="stylesheet" href="css/hex-grid.css">
  <link rel="stylesheet" href="css/animations.css">
  <link rel='stylesheet' href='beers.css'>
  <link rel='stylesheet' href='css/homepage_style.css'>


  <!-- Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<header>
  <div class="nav">
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <input type="checkbox" id="nav-check">
    <div class="nav-links">
      <a href="index.html">HOME</a>
      <a href="about.html">ABOUT</a>
      <a href="StylePage1.html">STYLE</a>
      <a href="RatingPagev3.html">RATING</a>
      <a href="location.html">MAP</a>
      <a href="beers_page.html">BEER</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="https://i.pinimg.com/originals/20/8c/eb/208ceb6083285b22ae01244f34abe1a0.jpg" class="centerbee">
        <h1 class="text-center"> THIRSTY BEE </h1>
        <h3 class="text-center">the definitive guide to manchester's bars</h3>
      </div>
    </div>
  </div>
</header>
<body>
 <div class="wrapper">
   <section class="hex-grid">
     <div ng-repeat="item in app.items" class="grid-item repeat-animation">
       <div class="inner">
         <div class="inner-inner" ng-style="{ 'background-image': 'url(https://www.telegraph.co.uk/content/dam/Travel/hotels/europe/united-kingdom/Hotels%20-%20England/manchester/principal-manchester-winter-garden-l-xlarge.jpg)', 'background-size': '100%' }">
           <a href="StylePage1.html" class="grid-info">
             <div class ="inner-text">
               <div class="inner-text-inner">
                 <h2>STYLE</h2>
                 <p>choose bar by style</p>
               </div><!-- /.inner-text-inner -->
             </div><!-- /.inner-text -->
           </a><!-- /.grid-info -->
         </div><!-- /.inner-inner -->
       </div><!-- /.inner -->
     </div><!-- /.grid-item -->
     <div ng-repeat="item in app.items" class="grid-item repeat-animation">
       <div class="inner">
         <div class="inner-inner" ng-style="{ 'background-image': 'url(https://previews.123rf.com/images/belchonock/belchonock1501/belchonock150108875/35887307-honeycomb-background.jpg)', 'background-size': '100%' }">
           <a href="about.html" class="grid-info">
             <div class ="inner-text">
               <div class="inner-text-inner">
                 <h2>ABOUT</h2>
                 <p>learn more about the thirsty bees</p>
               </div><!-- /.inner-text-inner -->
             </div><!-- /.inner-text -->
           </a><!-- /.grid-info -->
         </div><!-- /.inner-inner -->
       </div><!-- /.inner -->
     </div><!-- /.grid-item -->
     <div ng-repeat="item in app.items" class="grid-item repeat-animation">
       <div class="inner">
         <div class="inner-inner" ng-style="{ 'background-image': 'url(https://img.etsystatic.com/il/833145/1342107533/il_570xN.1342107533_svnp.jpg?version=0)', 'background-size': '50%' }">
           <a href="RatingPagev3.html" class="grid-info">
             <div class ="inner-text">
               <div class="inner-text-inner">
                 <h2>RATING</h2>
                 <p>choose bar by rating</p>
               </div><!-- /.inner-text-inner -->
             </div><!-- /.inner-text -->
           </a><!-- /.grid-info -->
         </div><!-- /.inner-inner -->
       </div><!-- /.inner -->
     </div><!-- /.grid-item -->
     <div ng-repeat="item in app.items" class="grid-item repeat-animation">
       <div class="inner">
         <div class="inner-inner" ng-style="{ 'background-image': 'url(https://www.manchesterartprints.com/wp-content/uploads/2017/02/Northern-Quarter_crop.jpg)', 'background-size': '50%' }">
           <a href="location.html" class="grid-info">
             <div class ="inner-text">
               <div class="inner-text-inner">
                 <h2>MAP</h2>
                 <p>explore our map of mcr</p>
               </div><!-- /.inner-text-inner -->
             </div><!-- /.inner-text -->
           </a><!-- /.grid-info -->
         </div><!-- /.inner-inner -->
       </div><!-- /.inner -->
     </div><!-- /.grid-item -->
     <div ng-repeat="item in app.items" class="grid-item repeat-animation">
       <div class="inner">
         <div class="inner-inner" ng-style="{ 'background-image': 'url(http://draftmag.com/wp-content/uploads/2016/07/Web_20160712_02_Cloudwater_DIPAv4andDIPAv5-1080x641.jpg)', 'background-size': '80%' }">
           <a href="beers_page.html" class="grid-info">
             <div class ="inner-text">
               <div class="inner-text-inner">
                 <h2>BEER LOVER?</h2>
                 <p>check out our mcr brew tap guide</p>
               </div><!-- /.inner-text-inner -->
             </div><!-- /.inner-text -->
           </a><!-- /.grid-info -->
         </div><!-- /.inner-inner -->
       </div><!-- /.inner -->
     </div><!-- /.grid-item -->
   </section><!-- /.hex-grid -->
 </div><!-- /.wrapper -->
 <!-- Load Angular -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-animate.min.js"></script>
 <!-- Load FakerJS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.0.1/faker.min.js"></script>
 <!-- Load app scripts -->
 <script>
   'use strict';

   (function() {

     /**
      * Declares the app module.
      */
     angular
       .module( 'app', [
         'ngAnimate'
       ]);


     // ---------------------------------------- //
     // ---------------------------------------- //


     angular
       .module( 'app' )
       .controller( 'AppController', AppController );

       AppController.$inject = [];

       function AppController() {

         this.items = getFakeItems();


         /**
          * Creates placeholder items.
          */
         function getFakeItems() {

           var items = [];

           for ( var i = 0; i < 1; i++ ) {
             items.push({
               name: faker.lorem.sentence(),
               desc: faker.fake('{{name.lastName}}, {{name.firstName}} {{name.suffix}}'),
               imgSrc: "http://placehold.it/300/09f/fff.png?text=" + i
             });
           }

           return items;

         } // end getFakeItems

       } // end AppController

   })(); // end module
 </script>
<!---SLIDESHOW--->
<div class = "row">
  <div class="col-md-12">
    <img src="https://i.pinimg.com/originals/20/8c/eb/208ceb6083285b22ae01244f34abe1a0.jpg" class="centerbee">
    <h4 class="text-center">CURRENT TOP PICKS</h4>
    <p>Swipe to see what bars we're loving right now.<p>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="carousel-1" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-1" data-slide-to="1"></li>
					<li data-target="#carousel-1" data-slide-to="2"></li>
          <li data-target="#carousel-1" data-slide-to="3"></li>
          <li data-target="#carousel-1" data-slide-to="4"></li>
          <li data-target="#carousel-1" data-slide-to="5"></li>
				</ol>
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<img src="https://www.creativetourist.com/cms/wp-content/uploads/2016/08/common-785x486.jpg" alt="">
            <div class="carousel-caption">
							<h6>Common - Edge Street</h6><br>
							<h5>Music, craft workshops, and Korean inspired food menu.</h5>
							<div class="carousel-action">
								<a href="https://www.aplacecalledcommon.co.uk/" class="btn btn-primary">see what's on</a>
							</div>
						</div>
          </div>
					<div class="item carousel-item">
						<img src="http://4.bp.blogspot.com/-Wzmt07LSIJM/TlIuXHlSE8I/AAAAAAAAEj4/-RATor1U_Kw/s1600/Soup+kitchen+inside.jpg" alt="">
            <div class="carousel-caption">
              <h6>Soup Kitchen - Stevenson Square</h6>
              <h5>Bar through the week serving soups. Club downstairs on weekends.</h5>
              <div class="carousel-action">
                <a href="https://soupkitchenmcr.co.uk/" class="btn btn-primary">see what's on</a>
              </div>
            </div>
					</div>
          <div class="item carousel-item">
						<img src="https://i2-prod.manchestereveningnews.co.uk/incoming/article13389646.ece/ALTERNATES/s615b/JS126422604.jpg" alt="">
            <div class="carousel-caption">
              <h6>FLOK - Stevenson Square</h6>
              <h5>Sherry bar serving tapas. Also have rotating beers. <br>Great spot to chill outside in summer.</h5>
              <div class="carousel-action">
                <a href="http://flokmcr.co.uk/" class="btn btn-primary">see what's on</a>
              </div>
            </div>
					</div>
          <div class="item carousel-item">
            <img src="http://kosmonaut.co/wp-content/uploads/2017/06/Kos_McrBeerWeek_02_WEB-724x1024.png" alt="">
            <div class="carousel-caption">
              <h6>KOSMONAUT - Stevenson Square</h6><br>
              <h5>Bar with table tennis downstairs. <br>Good selection of beers.</h5>
              <div class="carousel-action">
                <a href="http://kosmonaut.co/" class="btn btn-primary">see what's on</a>
              </div>
            </div>
          </div>
          <div class="item carousel-item">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/08/83/fc/25/eastern-bloc-records.jpg" alt="">
            <div class="carousel-caption">
              <h6>EASTERN BLOC - Stevenson Square</h6><br>
              <h5>Record store turned brunch spot, bar and club.<br>Lots of music events.</h5>
              <div class="carousel-action">
                <a href="http://www.easternblocrecords.com/" class="btn btn-primary">see what's on</a>
              </div>
            </div>
          </div>
          <div class="item carousel-item">
            <img src="https://www.creativetourist.com/cms/wp-content/uploads/2016/08/DSC_9165.jpg" alt="">
            <div class="carousel-caption">
              <h6>PILCROW- Sadler's Yard</h6><br>
              <h5>Bar in a wooden cabin.<br>Lots of foodie/music events in the square.</h5>
              <div class="carousel-action">
                <a href="http://www.thepilcrowpub.com/" class="btn btn-primary">see <a href="https://www.creativetourist.com/record-store-day/" id ="recordstore">what's on</a>
              </div>
            </div>
          </div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#carousel-1" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right carousel-control-next" href="#carousel-1" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>
</div>
<!---end of slideshow--->
<!---UPCOMING EVENTS--->
<div class = "row">
  <div class="col-md-12">
    <img src="https://i.pinimg.com/originals/20/8c/eb/208ceb6083285b22ae01244f34abe1a0.jpg" class="centerbee">
    <h4 class="text-center">UPCOMING EVENTS</h4>
    <p>Record store day is just around the corner.<br>See<a href="https://www.creativetourist.com/record-store-day/" class="recordstore"> what's on.</a><br>
    <img src="http://manchester.carpediem.cd/data/afisha/o/8e/81/8e817a58ea.jpg" class="eventpics">
    <br>
    <br>
    <br>
  </div>
</div>
<!---UPCOMING EVENTS--->
<!---twitter--->
 <div class="container_twit">
   <img src="https://i.pinimg.com/originals/20/8c/eb/208ceb6083285b22ae01244f34abe1a0.jpg" class="centerbee">
   <div class = "row">
     <div class="col-md-12">
       <h4>NEWS AND DEALS</h4>
       <p>Check out the latest manchester news and deals from MCR confidential's feed below </p>
     </div>
   </div>
   <div class ="twitter_stuff">
     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     <a class="twitter-timeline" href="https://twitter.com/mcrconfidential?ref_src=twsrc%5Etfw">Tweets by mcrconfidential</a>
  </div>
</div>
<!---end of twitter bit--->
</body>
</html>
