.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: #f5cd00;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #f5cd00;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #f5cd00;
}
.w3-card-4,.w3-hover-shadow:hover
{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
